.App__container___sGqxY{margin:auto;max-width:600px}.App__nav___29MSI ul{padding-left:0}.App__nav___29MSI li{display:inline-block;list-style:none;padding-right:10px}.App__footer___azm8-{display:flex}.App__footer___azm8- li{padding-bottom:15px;list-style:none}

